<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/facturaVenta.css')}}">

    <title>Document</title>
</head>

<body>
    <div class="contenedorFactura">
        <div class="header">
            <img src="{{ url_for('static', filename='imagenes/logo.jpg') }}"
                alt="logo">

            <h1>Factura de Venta</h1>
        </div>

        <div class="informacionCliente">
            <p><strong>Cliente:</strong> {{current_user.nombreClientes}}</p>
            <p><strong>Cedula:</strong> {{current_user.cedulaClientes}}</p>
            <p> <strong>Fecha:</strong> {{ fecha}} </p>

        </div>
        <h2>Productos:</h2>

        <table class="table table-bordered">

            <thead>
                <tr>
            
                    <th scope="col">idProductos</th>
                    <th scope="col">Descripcion Productos</th>
                    <th scope="col">Precio Productos</th>

                </tr>
            </thead>
            <tbody>
                {% for detalleVenta in data %} 

                <tr>
                    <td scope="row">{{detalleVenta.idProducto }}</td>
                    <td>{{current_user.descripcionProductos}}</td>
                    <td>{{current_user.precioProductos }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <th>subTotal:</th>
                    <th>${unCarritoF.getTotal()}</th>
                </tr>

                <tr>
                    <td></td>
                    <th>Iva-19%:</th>
                    <th>${unFacturaVenta.calcularIva( unCarritoF.getTotal()) }</th>
                </tr>
                <tr>
                    <td></td>
                    <th>Total:</th>
                    <th>${unFacturaVenta.totalFinal()}</th>
                </tr>
            </tbody>

        </table>


        <a href="ControladorIniciarSesion">
            <span>MENU</span>
        </a>

        <div class="mensaje">
            <p>
                Gracias por elegir nuestros productos/servicios. Valoramos tu preferencia y esperamos verte nuevamente
                pronto; ¡Que tengas un excelente día!.
            </p>
        </div>
    </div>

</body>
<script>
    
</script>
</html>