body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrito-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.card-price {
    font-size: 16px;
    color: green;
    font-weight: bold;
}

.subtotal {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
}

.total {
    font-size: 18px;
    color: green;
}

.boton-comprar {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.boton-comprar:hover {
    background-color: #45a049;
}
