<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloIndex.css') }}">

    <title>Document</title>
</head>

<body>
    <header id="header">
        <h1>BiciMotos Tienda Deportiva</h1>
        <a href="#">
            <a href="{{ url_for('carritos.index') }}" class="contenedor-imagen">
                
                <h3 id="texto-superpuesto">
                    {{ tamano }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0" />
                    </svg>
                    
                </h3>
            </a>

            {% if current_user.is_authenticated %}
            {{ current_user.nombreClientes }}

            <a href="{{ url_for('autentificacionBp.logout') }}">cerrar Session</a>
            {% else %}
            <a href="{{ url_for('autentificacionBp.login') }}">Iniciar Session</a>

        </a>
        {% endif %}
    </header>

    <div class="contenedor" id="contenedor">
        {% for elProducto in data %}
        <div class="box">
            
            <form action="/agregar/{{ elProducto.idProductos }}" method="post">
                
                <img src="{{ url_for('static', filename='imagenes/' ~ elProducto.nombreImagen) }}"
                alt="{{ elProducto.nombreImagen }}">
                
                <div class="centrarInformacion">
                    <input type="hidden" name="idProducto" value="{{ elProducto.idProductos }}">
                    <input type="hidden" name="informacion" id="informacion"
                    value="{{ elProducto.descripcionProductos }}">
                    <p class="producto" name="producto" value="">{{ elProducto.descripcionProductos }}</p>
                    <input type="hidden" name="precioProducto" id="precioProducto"
                    value="{{ elProducto.precioProductos }}">
                    <p class="precio" name="precio" value="">{{ elProducto.precioProductos }}</p>
                    {% if current_user.is_authenticated %}
                    <button class="btcontar" type="submit" name="accion" value="insertar">Agregar</button>
                    {%else%}
                    <a style="color: black;" href="{{ url_for('autentificacionBp.login') }}">Agregar</a>
                    {% endif %}
                </div>
            </form>

        </div>
        {% endfor %}
    </div>


</body>


</html>